In [90]:
import pandas as pd

In [136]:
import importlib
import preprocess_func
importlib.reload(preprocess_func)

## 数据获取

调用h5py的方法读取.h5文件，并写入csv文件（一个csv文件对应单日单标的）
增加order_book_id列，以便后续处理

In [102]:
date_list = ['20210126','20210127','20210128']
code_list = ['601288.XSHG','000001.XSHE']
d1 = []

#单日单标的
# data = preprocess_func.read_h5_file(code_list[0],date_list[0],'file/'+code_list[0]+'.h5')

#多日单标的
# for date in date_list:
#     preprocess.read_h5_file(code_list[0],date,filepath)

 #多日多标的
for code in code_list:
    filepath = 'file/'+code+'.h5'
    for date in date_list:
        d = preprocess_func.read_h5_file(code,date,filepath)
        d['order_book_id'] = code   #增加一列order_book_id记录code
        d1.append(d)
data = pd.concat(d1)
data

,date,time,last,high,low,volume,open_interest,total_turnover,a1,a2,...,a2_v,a3_v,a4_v,a5_v,b1_v,b2_v,b3_v,b4_v,b5_v,order_book_id
0,20210126,91500550,31400,0,0,0,0,0,31400,0,...,0,0,0,0,205200,2141600,0,0,0,601288.XSHG
1,20210126,91504460,31400,0,0,0,0,0,31400,0,...,0,0,0,0,6478901,7959099,0,0,0,601288.XSHG
2,20210126,91507440,31400,0,0,0,0,0,31400,0,...,0,0,0,0,6558001,10144799,0,0,0,601288.XSHG
3,20210126,91509580,31400,0,0,0,0,0,31400,0,...,0,0,0,0,6558001,10197399,0,0,0,601288.XSHG
4,20210126,91512580,31400,0,0,0,0,0,31400,0,...,0,0,0,0,6561501,10237099,0,0,0,601288.XSHG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4824,20210128,145924000,226700,231800,224500,84271096,0,1915199900,227400,0,...,0,0,0,0,1157787,52013,0,0,0,000001.XSHE
4825,20210128,145933000,226700,231800,224500,84271096,0,1915199900,227400,0,...,0,0,0,0,1172887,70413,0,0,0,000001.XSHE
4826,20210128,145942000,226700,231800,224500,84271096,0,1915199900,227400,0,...,0,0,0,0,1174787,387413,0,0,0,000001.XSHE
4827,20210128,145951000,226700,231800,224500,84271096,0,1915199900,227400,0,...,0,0,0,0,1177487,407313,0,0,0,000001.XSHE
4828,20210128,150003000,228100,231800,224500,85747696,0,1948881146,228100,228200,...,8600,6400,9700,9200,18300,44500,14500,62400,41200,000001.XSHE

## 数据转换

In [140]:
data = preprocess_func._transform_snapshot_from_h5(data)
data_new = data.set_index('datetime')
data_new

,trading_date,last,high,low,volume,open_interest,total_turnover,a1,a2,a3,...,a2_v,a3_v,a4_v,a5_v,b1_v,b2_v,b3_v,b4_v,b5_v,order_book_id
datetime,,,,,,,,,,,,,,,,,,,,,
2021-01-26 09:15:00.550,2021-01-26,3.14,0.00,0.00,0,0,0,3.14,0.00,0.00,...,0,0,0,0,205200,2141600,0,0,0,601288.XSHG
2021-01-26 09:15:04.460,2021-01-26,3.14,0.00,0.00,0,0,0,3.14,0.00,0.00,...,0,0,0,0,6478901,7959099,0,0,0,601288.XSHG
2021-01-26 09:15:07.440,2021-01-26,3.14,0.00,0.00,0,0,0,3.14,0.00,0.00,...,0,0,0,0,6558001,10144799,0,0,0,601288.XSHG
2021-01-26 09:15:09.580,2021-01-26,3.14,0.00,0.00,0,0,0,3.14,0.00,0.00,...,0,0,0,0,6558001,10197399,0,0,0,601288.XSHG
2021-01-26 09:15:12.580,2021-01-26,3.14,0.00,0.00,0,0,0,3.14,0.00,0.00,...,0,0,0,0,6561501,10237099,0,0,0,601288.XSHG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-01-28 14:59:24.000,2021-01-28,22.67,23.18,22.45,84271096,0,1915199900,22.74,0.00,0.00,...,0,0,0,0,1157787,52013,0,0,0,000001.XSHE
2021-01-28 14:59:33.000,2021-01-28,22.67,23.18,22.45,84271096,0,1915199900,22.74,0.00,0.00,...,0,0,0,0,1172887,70413,0,0,0,000001.XSHE
2021-01-28 14:59:42.000,2021-01-28,22.67,23.18,22.45,84271096,0,1915199900,22.74,0.00,0.00,...,0,0,0,0,1174787,387413,0,0,0,000001.XSHE
2021-01-28 14:59:51.000,2021-01-28,22.67,23.18,22.45,84271096,0,1915199900,22.74,0.00,0.00,...,0,0,0,0,1177487,407313,0,0,0,000001.XSHE
2021-01-28 15:00:03.000,2021-01-28,22.81,23.18,22.45,85747696,0,1948881146,22.81,22.82,22.83,...,8600,6400,9700,9200,18300,44500,14500,62400,41200,000001.XSHE

In [105]:
target = pd.read_csv('file/601288.XSHG/20210126.csv')
target = target.set_index('datetime')
target

,trading_date,last,high,low,volume,open_interest,total_turnover,a1,a2,a3,...,a1_v,a2_v,a3_v,a4_v,a5_v,b1_v,b2_v,b3_v,b4_v,b5_v
datetime,,,,,,,,,,,,,,,,,,,,,
2021-01-26 09:15:00.550,2021-01-26,3.14,0.00,0.00,0,0,0,3.14,0.00,0.00,...,205200,0,0,0,0,205200,2141600,0,0,0
2021-01-26 09:15:04.460,2021-01-26,3.14,0.00,0.00,0,0,0,3.14,0.00,0.00,...,6478901,0,0,0,0,6478901,7959099,0,0,0
2021-01-26 09:15:07.440,2021-01-26,3.14,0.00,0.00,0,0,0,3.14,0.00,0.00,...,6558001,0,0,0,0,6558001,10144799,0,0,0
2021-01-26 09:15:09.580,2021-01-26,3.14,0.00,0.00,0,0,0,3.14,0.00,0.00,...,6558001,0,0,0,0,6558001,10197399,0,0,0
2021-01-26 09:15:12.580,2021-01-26,3.14,0.00,0.00,0,0,0,3.14,0.00,0.00,...,6561501,0,0,0,0,6561501,10237099,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-01-26 14:59:47.310,2021-01-26,3.13,3.15,3.13,157786374,0,495402662,3.14,0.00,0.00,...,1352700,1124000,0,0,0,1352700,0,0,0,0
2021-01-26 14:59:53.300,2021-01-26,3.13,3.15,3.13,157786374,0,495402662,3.14,0.00,0.00,...,1362700,1114000,0,0,0,1362700,0,0,0,0
2021-01-26 14:59:56.310,2021-01-26,3.13,3.15,3.13,157786374,0,495402662,3.14,0.00,0.00,...,1551800,979900,0,0,0,1551800,0,0,0,0
2021-01-26 14:59:59.310,2021-01-26,3.13,3.15,3.13,157786374,0,495402662,3.14,0.00,0.00,...,1584100,997000,0,0,0,1584100,0,0,0,0
2021-01-26 15:00:03.080,2021-01-26,3.13,3.15,3.13,159395974,0,500440710,3.14,3.15,3.16,...,1164300,24497542,14108435,11424400,15204800,33896340,25844900,17243900,7601200,876700

In [130]:
data_new.info()==target.info()

<class 'pandas.core.frame.DataFrame'>
Index: 29244 entries, 2021-01-26 09:15:00 to 2021-01-28 15:00:03
Data columns (total 28 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   trading_date    29244 non-null  object
 1   last            29244 non-null  float64
 2   high            29244 non-null  float64
 3   low             29244 non-null  float64
 4   volume          29244 non-null  float64
 5   open_interest   29244 non-null  float64
 6   total_turnover  29244 non-null  float64
 7   a1              29244 non-null  float64
 8   a2              29244 non-null  float64
 9   a3              29244 non-null  float64
 10  a4              29244 non-null  float64
 11  a5              29244 non-null  float64
 12  b1              29244 non-null  float64
 13  b2              29244 non-null  float64
 14  b3              29244 non-null  float64
 15  b4              29244 non-null  float64
 16  b5              29244 non-null  float64
 17  a1_v            29244 non-null  float64
 18  a2_v            29244 non-null  float64
 19  a3_v            29244 non-null  float64
 20  a4_v            29244 non-null  float64
 21  a5_v            29244 non-null  float64
 22  b1_v            29244 non-null  float64
 23  b2_v            29244 non-null  float64
 24  b3_v            29244 non-null  float64
 25  b4_v            29244 non-null  float64
 26  b5_v            29244 non-null  float64
 27  order_book_id   29244 non-null  object
dtypes: float64(26), object(2)
memory usage: 6.5+ MB
<class 'pandas.core.frame.DataFrame'>
Index: 4934 entries, 2021-01-26 09:15:00.550 to 2021-01-26 15:00:03.080
Data columns (total 27 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   trading_date    4934 non-null   object
 1   last            4934 non-null   float64
 2   high            4934 non-null   float64
 3   low             4934 non-null   float64
 4   volume          4934 non-null   int64
 5   open_interest   4934 non-null   int64
 6   total_turnover  4934 non-null   int64
 7   a1              4934 non-null   float64
 8   a2              4934 non-null   float64
 9   a3              4934 non-null   float64
 10  a4              4934 non-null   float64
 11  a5              4934 non-null   float64
 12  b1              4934 non-null   float64
 13  b2              4934 non-null   float64
 14  b3              4934 non-null   float64
 15  b4              4934 non-null   float64
 16  b5              4934 non-null   float64
 17  a1_v            4934 non-null   int64
 18  a2_v            4934 non-null   int64
 19  a3_v            4934 non-null   int64
 20  a4_v            4934 non-null   int64
 21  a5_v            4934 non-null   int64
 22  b1_v            4934 non-null   int64
 23  b2_v            4934 non-null   int64
 24  b3_v            4934 non-null   int64
 25  b4_v            4934 non-null   int64
 26  b5_v            4934 non-null   int64
dtypes: float64(13), int64(13), object(1)
memory usage: 1.1+ MB

True

In [111]:
## 提取目标日期的相应标的数据
data_compare = data_new[(data_new.order_book_id=='601288.XSHG') & (data_new.trading_date=='2021-01-26')].iloc[:,:27]
data_compare

,trading_date,last,high,low,volume,open_interest,total_turnover,a1,a2,a3,...,a1_v,a2_v,a3_v,a4_v,a5_v,b1_v,b2_v,b3_v,b4_v,b5_v
datetime,,,,,,,,,,,,,,,,,,,,,
2021-01-26 09:15:00.550,2021-01-26,3.14,0.00,0.00,0,0,0,3.14,0.00,0.00,...,205200,0,0,0,0,205200,2141600,0,0,0
2021-01-26 09:15:04.460,2021-01-26,3.14,0.00,0.00,0,0,0,3.14,0.00,0.00,...,6478901,0,0,0,0,6478901,7959099,0,0,0
2021-01-26 09:15:07.440,2021-01-26,3.14,0.00,0.00,0,0,0,3.14,0.00,0.00,...,6558001,0,0,0,0,6558001,10144799,0,0,0
2021-01-26 09:15:09.580,2021-01-26,3.14,0.00,0.00,0,0,0,3.14,0.00,0.00,...,6558001,0,0,0,0,6558001,10197399,0,0,0
2021-01-26 09:15:12.580,2021-01-26,3.14,0.00,0.00,0,0,0,3.14,0.00,0.00,...,6561501,0,0,0,0,6561501,10237099,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-01-26 14:59:47.310,2021-01-26,3.13,3.15,3.13,157786374,0,495402662,3.14,0.00,0.00,...,1352700,1124000,0,0,0,1352700,0,0,0,0
2021-01-26 14:59:53.300,2021-01-26,3.13,3.15,3.13,157786374,0,495402662,3.14,0.00,0.00,...,1362700,1114000,0,0,0,1362700,0,0,0,0
2021-01-26 14:59:56.310,2021-01-26,3.13,3.15,3.13,157786374,0,495402662,3.14,0.00,0.00,...,1551800,979900,0,0,0,1551800,0,0,0,0
2021-01-26 14:59:59.310,2021-01-26,3.13,3.15,3.13,157786374,0,495402662,3.14,0.00,0.00,...,1584100,997000,0,0,0,1584100,0,0,0,0
2021-01-26 15:00:03.080,2021-01-26,3.13,3.15,3.13,159395974,0,500440710,3.14,3.15,3.16,...,1164300,24497542,14108435,11424400,15204800,33896340,25844900,17243900,7601200,876700

In [138]:
##对比转换后数据和样例数据
(target.index==data_compare.index).all()

True

In [139]:
print((target.loc[:,'trading_date':'b5_v'].reset_index("datetime")==data_compare.loc[:,'trading_date':'b5_v'].reset_index("datetime")).all())
target.loc[:,'trading_date':'b5_v'].reset_index("datetime")==data_compare.loc[:,'trading_date':'b5_v'].reset_index("datetime")

datetime          True
trading_date      True
last              True
high              True
low               True
volume            True
open_interest     True
total_turnover    True
a1                True
a2                True
a3                True
a4                True
a5                True
b1                True
b2                True
b3                True
b4                True
b5                True
a1_v              True
a2_v              True
a3_v              True
a4_v              True
a5_v              True
b1_v              True
b2_v              True
b3_v              True
b4_v              True
b5_v              True
dtype: bool

,datetime,trading_date,last,high,low,volume,open_interest,total_turnover,a1,a2,...,a1_v,a2_v,a3_v,a4_v,a5_v,b1_v,b2_v,b3_v,b4_v,b5_v
0,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4929,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4930,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4931,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4932,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4933,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

## 数据预处理
顺序：
1.删除重复数据、删除异常数据
2.处理累计数据、筛选交易时段数据、其他处理
原因：先进行数据的删除，再按需进行筛选等其他工作

数据定义：
重复数据：1.包括datetime在内的每一列数据都相同；2.两行数据间隔小于三秒，并且其他字段数据相同。满足二者其一则为重复数据
异常数据：1.买一价或卖一价为0；2.空值（nan）
累计数据：某个时间段内的累计数据，如一分钟内的成交量
交易时段数据：开盘至收盘，即9：30-11：30，13：00-15：00，不包括集合竞价阶段

In [157]:
data.describe()

,last,high,low,volume,open_interest,total_turnover,a1,a2,a3,a4,...,a1_v,a2_v,a3_v,a4_v,a5_v,b1_v,b2_v,b3_v,b4_v,b5_v
count,29250.000000,29250.000000,29250.000000,2.925000e+04,29250.0,2.925000e+04,29250.000000,29250.000000,29250.000000,29250.000000,...,2.925000e+04,2.925000e+04,2.925000e+04,2.925000e+04,2.925000e+04,2.925000e+04,2.925000e+04,2.925000e+04,2.925000e+04,2.925000e+04
mean,12.853795,12.927315,12.456816,8.008050e+07,0.0,9.394329e+08,12.856682,12.608449,12.618703,12.628792,...,1.397762e+07,1.314840e+07,8.948064e+06,7.214325e+06,7.288486e+06,1.758248e+07,2.002578e+07,1.002693e+07,5.953753e+06,2.786621e+06
std,9.803656,10.138084,9.682047,3.768136e+07,0.0,8.291359e+08,9.804391,9.904355,9.905266,9.906008,...,1.630682e+07,1.439024e+07,1.002518e+07,7.728680e+06,7.899552e+06,2.225202e+07,2.162963e+07,1.320965e+07,8.509841e+06,5.593113e+06
min,3.130000,0.000000,0.000000,0.000000e+00,0.0,0.000000e+00,0.000000,0.000000,0.000000,0.000000,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,3.140000,3.150000,3.130000,5.334142e+07,0.0,2.788980e+08,3.150000,3.150000,3.160000,3.170000,...,7.100000e+03,8.000000e+03,7.932000e+03,7.800000e+03,7.900000e+03,6.900000e+03,9.500000e+03,1.116600e+04,1.220000e+04,1.290000e+04
50%,3.170000,3.170000,3.130000,8.159158e+07,0.0,4.528864e+08,3.170000,3.180000,3.190000,3.200000,...,3.488670e+05,1.318000e+05,7.905000e+04,8.900000e+04,1.011000e+05,4.883000e+05,2.458000e+05,1.747500e+05,1.597000e+05,1.581770e+05
75%,22.750000,23.320000,22.310000,1.080861e+08,0.0,1.634743e+09,22.760000,22.770000,22.780000,22.790000,...,3.073739e+07,2.471370e+07,1.773270e+07,1.486140e+07,1.536250e+07,3.357962e+07,4.167640e+07,1.906760e+07,7.803100e+06,1.570475e+06
max,23.450000,23.470000,22.780000,1.673168e+08,0.0,2.976801e+09,23.450000,23.460000,23.470000,23.480000,...,5.020436e+07,4.878130e+07,2.962570e+07,2.568990e+07,1.911620e+07,7.347311e+07,5.673300e+07,4.485220e+07,3.059310e+07,2.923600e+07

删除重复数据

In [156]:
#查看重复数据
data[data.duplicated()]

Empty DataFrame
Columns: [trading_date, last, high, low, volume, open_interest, total_turnover, a1, a2, a3, a4, a5, b1, b2, b3, b4, b5, a1_v, a2_v, a3_v, a4_v, a5_v, b1_v, b2_v, b3_v, b4_v, b5_v, order_book_id, datetime]
Index: []

[0 rows x 29 columns]

In [144]:
data_new = preprocess_func.drop_duplicate(data_new)
# if data_new.iloc[1:2,1:27].reset_index(level='datetime')==data_new.iloc[2:3,1:27].reset_index(level='datetime'):
# data_new.reset_index(level='datetime').iloc[1:2,1:27]==data_new.reset_index(level='datetime').iloc[2:3,1:27]
# (data_new.iloc[1:2,1:27].reset_index(level='datetime')==data_new.iloc[2:3,1:27].reset_index(level='datetime')).all()
# d = data_new.iloc[1]==data_new.iloc[0]
# d
data_new

,trading_date,last,high,low,volume,open_interest,total_turnover,a1,a2,a3,...,a2_v,a3_v,a4_v,a5_v,b1_v,b2_v,b3_v,b4_v,b5_v,order_book_id
datetime,,,,,,,,,,,,,,,,,,,,,
2021-01-26 09:15:00.550,2021-01-26,3.14,0.00,0.00,0,0,0,3.14,0.00,0.00,...,0,0,0,0,205200,2141600,0,0,0,601288.XSHG
2021-01-26 09:15:04.460,2021-01-26,3.14,0.00,0.00,0,0,0,3.14,0.00,0.00,...,0,0,0,0,6478901,7959099,0,0,0,601288.XSHG
2021-01-26 09:15:07.440,2021-01-26,3.14,0.00,0.00,0,0,0,3.14,0.00,0.00,...,0,0,0,0,6558001,10144799,0,0,0,601288.XSHG
2021-01-26 09:15:09.580,2021-01-26,3.14,0.00,0.00,0,0,0,3.14,0.00,0.00,...,0,0,0,0,6558001,10197399,0,0,0,601288.XSHG
2021-01-26 09:15:12.580,2021-01-26,3.14,0.00,0.00,0,0,0,3.14,0.00,0.00,...,0,0,0,0,6561501,10237099,0,0,0,601288.XSHG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-01-28 14:59:24.000,2021-01-28,22.67,23.18,22.45,84271096,0,1915199900,22.74,0.00,0.00,...,0,0,0,0,1157787,52013,0,0,0,000001.XSHE
2021-01-28 14:59:33.000,2021-01-28,22.67,23.18,22.45,84271096,0,1915199900,22.74,0.00,0.00,...,0,0,0,0,1172887,70413,0,0,0,000001.XSHE
2021-01-28 14:59:42.000,2021-01-28,22.67,23.18,22.45,84271096,0,1915199900,22.74,0.00,0.00,...,0,0,0,0,1174787,387413,0,0,0,000001.XSHE
2021-01-28 14:59:51.000,2021-01-28,22.67,23.18,22.45,84271096,0,1915199900,22.74,0.00,0.00,...,0,0,0,0,1177487,407313,0,0,0,000001.XSHE
2021-01-28 15:00:03.000,2021-01-28,22.81,23.18,22.45,85747696,0,1948881146,22.81,22.82,22.83,...,8600,6400,9700,9200,18300,44500,14500,62400,41200,000001.XSHE

删除异常数据

In [159]:
data_new[data_new.isnull().T.any()]
# data_new.isnull().T.any()
# data[data.isnull().T.any()]

Empty DataFrame
Columns: [trading_date, last, high, low, volume, open_interest, total_turnover, a1, a2, a3, a4, a5, b1, b2, b3, b4, b5, a1_v, a2_v, a3_v, a4_v, a5_v, b1_v, b2_v, b3_v, b4_v, b5_v, order_book_id]
Index: []

[0 rows x 28 columns]

In [153]:
data_new = preprocess_func.del_abr_data(data_new)
data_new

,trading_date,last,high,low,volume,open_interest,total_turnover,a1,a2,a3,...,a2_v,a3_v,a4_v,a5_v,b1_v,b2_v,b3_v,b4_v,b5_v,order_book_id
datetime,,,,,,,,,,,,,,,,,,,,,
2021-01-26 09:15:00.550,2021-01-26,3.14,0.00,0.00,0.0,0.0,0.000000e+00,3.14,0.00,0.00,...,0.0,0.0,0.0,0.0,205200.0,2141600.0,0.0,0.0,0.0,601288.XSHG
2021-01-26 09:15:04.460,2021-01-26,3.14,0.00,0.00,0.0,0.0,0.000000e+00,3.14,0.00,0.00,...,0.0,0.0,0.0,0.0,6478901.0,7959099.0,0.0,0.0,0.0,601288.XSHG
2021-01-26 09:15:07.440,2021-01-26,3.14,0.00,0.00,0.0,0.0,0.000000e+00,3.14,0.00,0.00,...,0.0,0.0,0.0,0.0,6558001.0,10144799.0,0.0,0.0,0.0,601288.XSHG
2021-01-26 09:15:09.580,2021-01-26,3.14,0.00,0.00,0.0,0.0,0.000000e+00,3.14,0.00,0.00,...,0.0,0.0,0.0,0.0,6558001.0,10197399.0,0.0,0.0,0.0,601288.XSHG
2021-01-26 09:15:12.580,2021-01-26,3.14,0.00,0.00,0.0,0.0,0.000000e+00,3.14,0.00,0.00,...,0.0,0.0,0.0,0.0,6561501.0,10237099.0,0.0,0.0,0.0,601288.XSHG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-01-28 14:59:24.000,2021-01-28,22.67,23.18,22.45,84271096.0,0.0,1.915200e+09,22.74,0.00,0.00,...,0.0,0.0,0.0,0.0,1157787.0,52013.0,0.0,0.0,0.0,000001.XSHE
2021-01-28 14:59:33.000,2021-01-28,22.67,23.18,22.45,84271096.0,0.0,1.915200e+09,22.74,0.00,0.00,...,0.0,0.0,0.0,0.0,1172887.0,70413.0,0.0,0.0,0.0,000001.XSHE
2021-01-28 14:59:42.000,2021-01-28,22.67,23.18,22.45,84271096.0,0.0,1.915200e+09,22.74,0.00,0.00,...,0.0,0.0,0.0,0.0,1174787.0,387413.0,0.0,0.0,0.0,000001.XSHE
2021-01-28 14:59:51.000,2021-01-28,22.67,23.18,22.45,84271096.0,0.0,1.915200e+09,22.74,0.00,0.00,...,0.0,0.0,0.0,0.0,1177487.0,407313.0,0.0,0.0,0.0,000001.XSHE
2021-01-28 15:00:03.000,2021-01-28,22.81,23.18,22.45,85747696.0,0.0,1.948881e+09,22.81,22.82,22.83,...,8600.0,6400.0,9700.0,9200.0,18300.0,44500.0,14500.0,62400.0,41200.0,000001.XSHE

将数据降至指定频率

In [137]:
d1_bar = preprocess_func.resample_data('1min',data_new,date_list,code_list)
d1_bar

,trading_date,last,high,low,volume,open_interest,total_turnover,a1,a2,a3,...,a2_v,a3_v,a4_v,a5_v,b1_v,b2_v,b3_v,b4_v,b5_v,order_book_id
datetime,,,,,,,,,,,,,,,,,,,,,
2021-01-26 09:15:00,2021-01-26,3.14,0.00,0.00,0,0,0,3.14,0.00,0.00,...,0,0,0,0,205200,2141600,0,0,0,601288.XSHG
2021-01-26 09:16:00,2021-01-26,3.14,0.00,0.00,0,0,0,3.14,0.00,0.00,...,0,0,0,0,5569001,11549499,0,0,0,601288.XSHG
2021-01-26 09:17:00,2021-01-26,3.14,0.00,0.00,0,0,0,3.15,0.00,0.00,...,37243500,0,0,0,652600,0,0,0,0,601288.XSHG
2021-01-26 09:18:00,2021-01-26,3.14,0.00,0.00,0,0,0,3.14,0.00,0.00,...,0,0,0,0,290400,18158600,0,0,0,601288.XSHG
2021-01-26 09:19:00,2021-01-26,3.14,0.00,0.00,0,0,0,3.14,0.00,0.00,...,0,0,0,0,272500,18429200,0,0,0,601288.XSHG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-01-28 14:56:00,2021-01-28,22.66,23.18,22.45,83878436,0,1906299724,22.68,22.69,22.70,...,15900,74300,9100,23400,13400,55900,4800,3800,9000,000001.XSHE
2021-01-28 14:57:00,2021-01-28,22.67,23.18,22.45,84271096,0,1915199900,0.00,0.00,0.00,...,0,0,0,0,0,0,0,0,0,000001.XSHE
2021-01-28 14:58:00,2021-01-28,22.67,23.18,22.45,84271096,0,1915199900,22.65,0.00,0.00,...,0,0,0,0,516846,21454,0,0,0,000001.XSHE
2021-01-28 14:59:00,2021-01-28,22.67,23.18,22.45,84271096,0,1915199900,22.74,0.00,0.00,...,0,0,0,0,1079087,24213,0,0,0,000001.XSHE
2021-01-28 15:00:00,2021-01-28,22.81,23.18,22.45,85747696,0,1948881146,22.81,22.82,22.83,...,8600,6400,9700,9200,18300,44500,14500,62400,41200,000001.XSHE

获取交易时段数据，数据由29244行减少为28638行

In [141]:
# multiIndex.loc[code] = preprocess_func.trading_period(multiIndex.loc[code])
# multiIndex.loc[code]
preprocess_func.get_trading_period(data_new,date_list,code_list)

,trading_date,last,high,low,volume,open_interest,total_turnover,a1,a2,a3,...,a2_v,a3_v,a4_v,a5_v,b1_v,b2_v,b3_v,b4_v,b5_v,order_book_id
datetime,,,,,,,,,,,,,,,,,,,,,
2021-01-26 09:30:00.830,2021-01-26,3.14,3.15,3.14,4045600,0,12704706,3.15,3.16,3.17,...,27665800,16160900,14928301,8753000,7636200,32262400,32149700,7524400,1870000,601288.XSHG
2021-01-26 09:30:03.890,2021-01-26,3.14,3.15,3.14,4932100,0,15491563,3.15,3.16,3.17,...,27828800,17031500,15044801,8647400,2271400,32866000,32890600,7689100,1904400,601288.XSHG
2021-01-26 09:30:06.880,2021-01-26,3.14,3.15,3.14,5075200,0,15940926,3.15,3.16,3.17,...,28011700,17143200,15254301,8702500,2063200,33258600,33249600,7962300,2102200,601288.XSHG
2021-01-26 09:30:09.870,2021-01-26,3.14,3.15,3.14,6675800,0,20966833,3.15,3.16,3.17,...,28112900,17268000,15301301,8786200,456400,33444600,33646600,8092600,2140500,601288.XSHG
2021-01-26 09:30:12.850,2021-01-26,3.14,3.15,3.14,6881000,0,21611183,3.15,3.16,3.17,...,28108700,17293000,15301301,8790200,260300,33466300,33596600,8098600,2160500,601288.XSHG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-01-28 14:59:15.000,2021-01-28,22.67,23.18,22.45,84271096,0,1915199900,22.74,0.00,0.00,...,0,0,0,0,1120687,45913,0,0,0,000001.XSHE
2021-01-28 14:59:24.000,2021-01-28,22.67,23.18,22.45,84271096,0,1915199900,22.74,0.00,0.00,...,0,0,0,0,1157787,52013,0,0,0,000001.XSHE
2021-01-28 14:59:33.000,2021-01-28,22.67,23.18,22.45,84271096,0,1915199900,22.74,0.00,0.00,...,0,0,0,0,1172887,70413,0,0,0,000001.XSHE
2021-01-28 14:59:42.000,2021-01-28,22.67,23.18,22.45,84271096,0,1915199900,22.74,0.00,0.00,...,0,0,0,0,1174787,387413,0,0,0,000001.XSHE
2021-01-28 14:59:51.000,2021-01-28,22.67,23.18,22.45,84271096,0,1915199900,22.74,0.00,0.00,...,0,0,0,0,1177487,407313,0,0,0,000001.XSHE

将时间数据格式转化为‘2021-01-26 09:15:04’类型

In [142]:
preprocess_func.reset_time_format(data_new)

,trading_date,last,high,low,volume,open_interest,total_turnover,a1,a2,a3,...,a2_v,a3_v,a4_v,a5_v,b1_v,b2_v,b3_v,b4_v,b5_v,order_book_id
datetime,,,,,,,,,,,,,,,,,,,,,
2021-01-26 09:15:00,2021-01-26,3.14,0.00,0.00,0,0,0,3.14,0.00,0.00,...,0,0,0,0,205200,2141600,0,0,0,601288.XSHG
2021-01-26 09:15:04,2021-01-26,3.14,0.00,0.00,0,0,0,3.14,0.00,0.00,...,0,0,0,0,6478901,7959099,0,0,0,601288.XSHG
2021-01-26 09:15:07,2021-01-26,3.14,0.00,0.00,0,0,0,3.14,0.00,0.00,...,0,0,0,0,6558001,10144799,0,0,0,601288.XSHG
2021-01-26 09:15:09,2021-01-26,3.14,0.00,0.00,0,0,0,3.14,0.00,0.00,...,0,0,0,0,6558001,10197399,0,0,0,601288.XSHG
2021-01-26 09:15:12,2021-01-26,3.14,0.00,0.00,0,0,0,3.14,0.00,0.00,...,0,0,0,0,6561501,10237099,0,0,0,601288.XSHG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-01-28 14:59:24,2021-01-28,22.67,23.18,22.45,84271096,0,1915199900,22.74,0.00,0.00,...,0,0,0,0,1157787,52013,0,0,0,000001.XSHE
2021-01-28 14:59:33,2021-01-28,22.67,23.18,22.45,84271096,0,1915199900,22.74,0.00,0.00,...,0,0,0,0,1172887,70413,0,0,0,000001.XSHE
2021-01-28 14:59:42,2021-01-28,22.67,23.18,22.45,84271096,0,1915199900,22.74,0.00,0.00,...,0,0,0,0,1174787,387413,0,0,0,000001.XSHE
2021-01-28 14:59:51,2021-01-28,22.67,23.18,22.45,84271096,0,1915199900,22.74,0.00,0.00,...,0,0,0,0,1177487,407313,0,0,0,000001.XSHE
2021-01-28 15:00:03,2021-01-28,22.81,23.18,22.45,85747696,0,1948881146,22.81,22.82,22.83,...,8600,6400,9700,9200,18300,44500,14500,62400,41200,000001.XSHE

预处理前后数据对比

In [154]:
#处理后
data_new

,trading_date,last,high,low,volume,open_interest,total_turnover,a1,a2,a3,...,a2_v,a3_v,a4_v,a5_v,b1_v,b2_v,b3_v,b4_v,b5_v,order_book_id
datetime,,,,,,,,,,,,,,,,,,,,,
2021-01-26 09:15:00.550,2021-01-26,3.14,0.00,0.00,0.0,0.0,0.000000e+00,3.14,0.00,0.00,...,0.0,0.0,0.0,0.0,205200.0,2141600.0,0.0,0.0,0.0,601288.XSHG
2021-01-26 09:15:04.460,2021-01-26,3.14,0.00,0.00,0.0,0.0,0.000000e+00,3.14,0.00,0.00,...,0.0,0.0,0.0,0.0,6478901.0,7959099.0,0.0,0.0,0.0,601288.XSHG
2021-01-26 09:15:07.440,2021-01-26,3.14,0.00,0.00,0.0,0.0,0.000000e+00,3.14,0.00,0.00,...,0.0,0.0,0.0,0.0,6558001.0,10144799.0,0.0,0.0,0.0,601288.XSHG
2021-01-26 09:15:09.580,2021-01-26,3.14,0.00,0.00,0.0,0.0,0.000000e+00,3.14,0.00,0.00,...,0.0,0.0,0.0,0.0,6558001.0,10197399.0,0.0,0.0,0.0,601288.XSHG
2021-01-26 09:15:12.580,2021-01-26,3.14,0.00,0.00,0.0,0.0,0.000000e+00,3.14,0.00,0.00,...,0.0,0.0,0.0,0.0,6561501.0,10237099.0,0.0,0.0,0.0,601288.XSHG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-01-28 14:59:24.000,2021-01-28,22.67,23.18,22.45,84271096.0,0.0,1.915200e+09,22.74,0.00,0.00,...,0.0,0.0,0.0,0.0,1157787.0,52013.0,0.0,0.0,0.0,000001.XSHE
2021-01-28 14:59:33.000,2021-01-28,22.67,23.18,22.45,84271096.0,0.0,1.915200e+09,22.74,0.00,0.00,...,0.0,0.0,0.0,0.0,1172887.0,70413.0,0.0,0.0,0.0,000001.XSHE
2021-01-28 14:59:42.000,2021-01-28,22.67,23.18,22.45,84271096.0,0.0,1.915200e+09,22.74,0.00,0.00,...,0.0,0.0,0.0,0.0,1174787.0,387413.0,0.0,0.0,0.0,000001.XSHE
2021-01-28 14:59:51.000,2021-01-28,22.67,23.18,22.45,84271096.0,0.0,1.915200e+09,22.74,0.00,0.00,...,0.0,0.0,0.0,0.0,1177487.0,407313.0,0.0,0.0,0.0,000001.XSHE
2021-01-28 15:00:03.000,2021-01-28,22.81,23.18,22.45,85747696.0,0.0,1.948881e+09,22.81,22.82,22.83,...,8600.0,6400.0,9700.0,9200.0,18300.0,44500.0,14500.0,62400.0,41200.0,000001.XSHE

In [155]:
#处理前
data

,trading_date,last,high,low,volume,open_interest,total_turnover,a1,a2,a3,...,a3_v,a4_v,a5_v,b1_v,b2_v,b3_v,b4_v,b5_v,order_book_id,datetime
0,2021-01-26,3.14,0.00,0.00,0,0,0,3.14,0.00,0.00,...,0,0,0,205200,2141600,0,0,0,601288.XSHG,2021-01-26 09:15:00.550
1,2021-01-26,3.14,0.00,0.00,0,0,0,3.14,0.00,0.00,...,0,0,0,6478901,7959099,0,0,0,601288.XSHG,2021-01-26 09:15:04.460
2,2021-01-26,3.14,0.00,0.00,0,0,0,3.14,0.00,0.00,...,0,0,0,6558001,10144799,0,0,0,601288.XSHG,2021-01-26 09:15:07.440
3,2021-01-26,3.14,0.00,0.00,0,0,0,3.14,0.00,0.00,...,0,0,0,6558001,10197399,0,0,0,601288.XSHG,2021-01-26 09:15:09.580
4,2021-01-26,3.14,0.00,0.00,0,0,0,3.14,0.00,0.00,...,0,0,0,6561501,10237099,0,0,0,601288.XSHG,2021-01-26 09:15:12.580
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4824,2021-01-28,22.67,23.18,22.45,84271096,0,1915199900,22.74,0.00,0.00,...,0,0,0,1157787,52013,0,0,0,000001.XSHE,2021-01-28 14:59:24.000
4825,2021-01-28,22.67,23.18,22.45,84271096,0,1915199900,22.74,0.00,0.00,...,0,0,0,1172887,70413,0,0,0,000001.XSHE,2021-01-28 14:59:33.000
4826,2021-01-28,22.67,23.18,22.45,84271096,0,1915199900,22.74,0.00,0.00,...,0,0,0,1174787,387413,0,0,0,000001.XSHE,2021-01-28 14:59:42.000
4827,2021-01-28,22.67,23.18,22.45,84271096,0,1915199900,22.74,0.00,0.00,...,0,0,0,1177487,407313,0,0,0,000001.XSHE,2021-01-28 14:59:51.000
4828,2021-01-28,22.81,23.18,22.45,85747696,0,1948881146,22.81,22.82,22.83,...,6400,9700,9200,18300,44500,14500,62400,41200,000001.XSHE,2021-01-28 15:00:03.000